<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %> 
<h2>Lista de Productos</h2>
<table>
    <thead>
        <tr></tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Foto</th>
        </tr>
    </thead>
    <tbody>
        
            <%  productos.forEach(p => {           
                %>
                <tr>
                <th><%= p.id %> </th>    
                <td><%= p.title %> </td>
                <td><%= p.price %> </td>
                <td> <a href="/productos/detalle/<%= p.id %>"><img width="100px" src="<%= p.thumbnail %> "></td>
            </tr>
            <% }) %>
       
    </tbody>
</table>

<div class="col-sm-8">
          <div class="card " style=" margin:50px">
            <div class="card-header text-white bg-secondary">
              <h5 class="card-title text-center">Centro de mensajes</h5>
            </div>
            <div class="card-body">

              <form onsubmit="return addMessage(this)">
                <input type="text" id="username" placeholder="Acá tu email">
                <input type="text" id="texto" placeholder="Cuéntanos algo...">
                <input class="btn btn-dark" type="submit" value="Enviar">
                <div id="messages"></div>

              </form>
            </div>
          </div>


