<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %> 
<h2>Lista de Productos</h2>
<table>
    <thead>
        <tr></tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Foto</th>
        </tr>
    </thead>
    <tbody>
        
            <%  productos.forEach(p => {           
                %>
                <tr>
                <th><%= p.id %> </th>    
                <td><%= p.title %> </td>
                <td><%= p.price %> </td>
                <td> <a href="/productos/detalle/<%= p.id %>"><img width="100px" src="<%= p.thumbnail %> "></td>
            </tr>
            <% }) %>
       
    </tbody>
</table>

<div class="row my-5">
    <h2 class="text-primary text-center">Centro de mensajes</h2>
  <div>
    <form onsubmit="return addMessage(this)">
        <input type="text" id="username" placeholder="Acá tu email">
        <div id="messages"></div>
        <input type="text" id="texto" placeholder="Cuéntanos algo...">
        <input class="btn btn-dark" type="submit" value="Enviar">
    </form>
  </div>



